<div class="board">
  <app-section-title [title]="'Board'"></app-section-title>

  <div class="container" *ngIf="loading">
    <div class="row">
      <div class="col-12">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
    </div>
  </div>

  <section class="list" *ngIf="!loading">
    <div class="container">
      <div class="row" 
        cdkDropList 
        [cdkDropListData]="tracks" 
        (cdkDropListDropped)="onTrackDrop($event)">
        
        <div class="col-4" *ngFor="let track of tracks">
          <app-card-track [title]="track.title" [color]="track.color">
            <div class="content-drop-list" 
              cdkDropList 
              [id]="track.id" 
              [cdkDropListData]="track.tasks" 
              [cdkDropListConnectedTo]="trackIds"
              (cdkDropListDropped)="onTalkDrop($event)">
              <app-task *ngFor="let task of track.tasks" [task]="task" [idProject]="idProject" [idTrack]="track.id"></app-task>
            </div>
          </app-card-track>
        </div>
      
      </div>
    </div>
  </section>
</div>
