<div class="board">
    <app-section-title [title]="'Board'">
        <button (click)="newItem()" mat-flat-button color="primary">
            <mat-icon>note_add</mat-icon>
            Novo item
        </button>
    </app-section-title>

    <div class="container" *ngIf="loading">
        <div class="row">
            <div class="col-12">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
        </div>
    </div>

    <section class="list" *ngIf="!loading">
        <div class="container">
            <div class="row">
                <div class="col-4">
                  <mat-card class="list-card">
                    <div class="banner todo">
                      TODO
                    </div>
                    <div class="content">
                      <div class="row">
                        <div class="col-12">
                          <mat-card *ngFor="let item of todo">
                            {{ item.name }}
                          </mat-card>
                        </div>
                      </div>
                    </div>
                  </mat-card>
                </div>
                <div class="col-4">
                  <mat-card class="list-card">
                    <div class="banner doing">
                      DOING
                    </div>
                    <div class="content">
                      <div class="row">
                        <div class="col-12">
                          <mat-card *ngFor="let item of doing">
                            {{ item.name }}
                          </mat-card>
                        </div>
                      </div>
                    </div>
                  </mat-card>
                </div>
                <div class="col-4">
                  <mat-card class="list-card">
                    <div class="banner done">
                      DONE
                    </div>
                    <div class="content">
                      <div class="row">
                        <div class="col-12">
                          <mat-card *ngFor="let item of done">
                            {{ item.name }}
                          </mat-card>
                        </div>
                      </div>
                    </div>
                  </mat-card>
                </div>
            </div>
        </div>
    </section>
</div>
