.register-project {
    .header {
        .title {
            margin: 0;
        }
        .divider {
            margin: 20px 0 20px 0;
        }
    }
    .form {
        .field {
            width: 100%;
        }
        .divider {
            margin: 20px 0;
        }
        button {
            min-width: 120px;
            &:first-of-type {
                margin-right: 10px;
            }
        }
    }
}