
@import './sass/main.scss';

html { height: 100%; }
body {
    height: 100%;
    margin: 0;
    font-family: "Open Sans";
    background-color: #f4f4fa;
    overflow-x: hidden;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}
